In [1]:
import pandas as pd
import numpy as np

## Data

In [278]:
sales = pd.read_csv('sales_train_validation.csv')
price = pd.read_csv('sell_prices.csv')
calendar = pd.read_csv('calendar.csv')
submission_format = pd.read_csv('sample_submission.csv')

## Preprocessing

In [279]:
#Remove 'd_' before number in column 'd'
calendar['d'] = [i.replace('d_','') for i in calendar['d']]
#Generate id in price df
price['id'] = price['item_id'] + "_" + price['store_id'] + '_validation'

## Weight for the level 12 series

In [283]:
sales

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,unit_sales_1877,unit_sales_1878,unit_sales_1879,unit_sales_1880,unit_sales_1881,unit_sales_1882,unit_sales_1883,unit_sales_1884,unit_sales_1885,dollar_sales
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,8.26,24.78,8.26,16.52,16.52,0.00,8.26,8.26,8.26,231.28
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,3.97,3.97,3.97,3.97,35.73
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,2.97,2.97,0.00,44.55
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,9.28,4.64,18.56,4.64,13.92,23.20,0.00,27.84,27.84,245.92
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,5.76,5.76,5.76,8.64,2.88,0.00,0.00,0.00,0.00,89.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,20.66
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,0.00,0.00,7.96,0.00,0.00,0.00,7.96,0.00,3.98,139.30
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1.28,1.28,1.28,0.00,2.56,1.28,1.28,2.56,5.12,44.80
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1.00,4.00,2.00,0.00,5.00,3.00,2.00,0.00,5.00,55.00

In [280]:
#Use second last 28 days since we use last 28 days as test set
for day in range(1858,1886):
    wk_id = list(calendar[calendar['d']==str(day)]['wm_yr_wk'])[0]
    wk_price_df = price[price['wm_yr_wk']==wk_id]
    sales = sales.merge(wk_price_df[['sell_price','id']],on=['id'],how='inner')
    #Unit sales means the amount of money made at that day. It's trivial to see since Total money = sell_price * num of sales
    sales['unit_sales_' + str(day)] = sales['sell_price'] * sales['d_'+str(day)]
    sales.drop(['sell_price'],axis=1, inplace=True)

In [282]:
#Sum of all unit_sales
sales['dollar_sales'] = sales[[c for c in sales.columns if c.find('unit_sales')==0]].sum(axis=1)

In [269]:
#Now we drop all unit_sales columns
sales.drop([c for c in sales.columns if c.find('unit_sales')==0],axis=1,inplace = True)

In [270]:
sales['weight'] = sales['dollar_sales'] / sales['dollar_sales'].sum()
sales.drop('dollar_sales',axis=1, inplace=True)

In [271]:
sales.shape

(30490, 1920)

### Naive logic baseline
* All 0's
* Mean from all prev data: 1.641176
* Mean of previous 10,20,30,40,50 days
* Same as the last 28 days: 0.855823
* Weekly propagation

*All 0's*

In [88]:
for d in range(1886,1914):
    sales['F_'+str(d)] = 0

*Mean from all prev data*

In [214]:
cols = [c for c in sales.columns if c.find('d_')==0]
mean_all_prev = sales[cols].mean(axis=1)
sales['mean'] = mean_all_prev

In [215]:
for d in range(1886,1914):
    sales['F_'+str(d)] = sales['mean']

*Same as last 28 days*

In [245]:
for d in range(1886,1914):
    sales['F_'+str(d)] = sales['d_'+str(d-28)]

## Infer forecast, ground truth values, and weights for all higher level aggregations

In [246]:
agg_df = pd.DataFrame(sales[[c for c in sales.columns if c.find('d_')==0 or c.find('F_')==0]].sum()).transpose()
agg_df['level']=1
agg_df['weight']=1/12
column_agg = agg_df.columns

In [247]:
agg_df

,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,F_1906,F_1907,F_1908,F_1909,F_1910,F_1911,F_1912,F_1913,level,weight
0,32631,31749,23783,25412,19146,29211,28010,37932,32736,25572,...,47825,37360,35475,34786,34003,45611,53863,46360,1,0.083333

In [248]:
level_groupings = {2:['state_id'],3:['store_id'],4:['cat_id'],
                   5:['dept_id'],6:['state_id','cat_id'],
                   7:['state_id','dept_id'],8:['store_id','cat_id'],
                   9:['store_id','dept_id'],10:['item_id'],
                   11:['item_id','state_id']}

In [219]:
#Interactive data groupings of different aggregation level by modifying level
sales.groupby(by=level_groupings[11]).sum()

                          d_1  d_2  d_3  d_4  d_5  d_6  d_7  d_8  d_9  d_10  \
item_id         state_id
FOODS_1_001     CA          6    3    2    3    7    5    8    3    5     2
                TX          0    1    2    2    0    4    0    0    4     3
                WI          0    2    0    1    0    9    2    1    2     5
FOODS_1_002     CA          3    3    4    4    3    3    0    2    1     1
                TX          0    0    2    0    0    0    0    1    0     0
...                       ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
HOUSEHOLD_2_515 TX          0    0    0    0    0    0    0    0    0     0
                WI          0    0    0    0    0    0    0    0    0     0
HOUSEHOLD_2_516 CA          0    2    0    1    1    1    0    2    1     2
                TX          2    1    0    0    0    0    1    1    0     0
                WI          0    1    0    2    0    1    1    1    0     0

                          ...    F_1904    F_1905    F_1906    F_1907  \
item_id         state_id  ...
FOODS_1_001     CA        ...  3.506012  3.506012  3.506012  3.506012
                TX        ...  1.576581  1.576581  1.576581  1.576581
                WI        ...  1.319394  1.319394  1.319394  1.319394
FOODS_1_002     CA        ...  1.730789  1.730789  1.730789  1.730789
                TX        ...  0.685311  0.685311  0.685311  0.685311
...                       ...       ...       ...       ...       ...
HOUSEHOLD_2_515 TX        ...  0.166231  0.166231  0.166231  0.166231
                WI        ...  0.145844  0.145844  0.145844  0.145844
HOUSEHOLD_2_516 CA        ...  0.587036  0.587036  0.587036  0.587036
                TX        ...  0.495034  0.495034  0.495034  0.495034
                WI        ...  0.247256  0.247256  0.247256  0.247256

                            F_1908    F_1909    F_1910    F_1911    F_1912  \
item_id         state_id
FOODS_1_001     CA        3.506012  3.506012  3.506012  3.506012  3.506012
                TX        1.576581  1.576581  1.576581  1.576581  1.576581
                WI        1.319394  1.319394  1.319394  1.319394  1.319394
FOODS_1_002     CA        1.730789  1.730789  1.730789  1.730789  1.730789
                TX        0.685311  0.685311  0.685311  0.685311  0.685311
...                            ...       ...       ...       ...       ...
HOUSEHOLD_2_515 TX        0.166231  0.166231  0.166231  0.166231  0.166231
                WI        0.145844  0.145844  0.145844  0.145844  0.145844
HOUSEHOLD_2_516 CA        0.587036  0.587036  0.587036  0.587036  0.587036
                TX        0.495034  0.495034  0.495034  0.495034  0.495034
                WI        0.247256  0.247256  0.247256  0.247256  0.247256

                            F_1913
item_id         state_id
FOODS_1_001     CA        3.506012
                TX        1.576581
                WI        1.319394
FOODS_1_002     CA        1.730789
                TX        0.685311
...                            ...
HOUSEHOLD_2_515 TX        0.166231
                WI        0.145844
HOUSEHOLD_2_516 CA        0.587036
                TX        0.495034
                WI        0.247256

[9147 rows x 1943 columns]

In [277]:
#Automate the process of appending time series of different level of aggs into agg_df
for level in level_groupings:
    df = sales.groupby(by=level_groupings[level]).sum().reset_index(drop=True)
    df['level'] = level
    df['weight'] /= 12
    agg_df = agg_df.append(df[column_agg])
del df

KeyError: "['dept_id', 'store_id', 'state_id', 'cat_id', 'item_id'] not in index"

In [250]:
sales['weight'] /= 12

In [251]:
print(sales.shape[0],agg_df.shape[0],sales.shape[0]+agg_df.shape[0])

30490 12350 42840

In [252]:
agg_df['weight'].sum() + sales['weight'].sum()

0.9999999999999996

## RMSSE Calculation

In [253]:
h = 28
n = 1885
def rmsse(ground_truth, forecast, train_series, axis=1):
    assert axis == 0 or axis == 1
    if axis == 1:
        #Using axis = 1 we must guarantee these are matrices and not arrays
        assert ground_truth.shape[1] > 1 and forecast.shape[1] > 1 and train_series.shape[1] > 1
    numerator = ((ground_truth - forecast) ** 2).sum(axis=axis)
    if axis == 1:
        denominator = 1/(n-1) * ((train_series[:,1:]-train_series[:,:-1]) ** 2).sum(axis=axis)
    else:
        denominator = 1/(n-1) * ((train_series[1:]-train_series[:-1]) ** 2).sum(axis=axis)
    return (1/h * numerator/denominator) ** 0.5

In [254]:
#When calling .find(a) == 0 that means a has been found
train_series_cols = [c for c in sales.columns if c.find('d_')==0][:-28]
ground_truth_cols = [c for c in sales.columns if c.find('d_')==0][-28:]
forecast_cols = [c for c in sales.columns if c.find('F_')==0]

In [255]:
sales['rmsse'] = rmsse(np.array(sales[ground_truth_cols]),np.array(sales[forecast_cols]),np.array(sales[train_series_cols]))
agg_df['rmsse'] = rmsse(np.array(agg_df[ground_truth_cols]),np.array(agg_df[forecast_cols]),np.array(agg_df[train_series_cols]))

In [256]:
sales['wrmsse'] = sales['weight'] * sales['rmsse']
agg_df['wrmsse'] = agg_df['weight'] * agg_df['rmsse']

In [257]:
sales['wrmsse'].sum() + agg_df['wrmsse'].sum()

0.8558233199674036

### Submission file generation

In [258]:
def sub_format(df):
    #Rename columns
    sub_cols = [f'F{i}' for i in range(1,29)]
    df.columns = sub_cols
    
    #Required ids
    validation_ids = sales['id'].values
    evaluation_ids = [i.replace('validation', 'evaluation') for i in validation_ids]
    ids = np.concatenate([validation_ids, evaluation_ids])
    
    predictions = pd.DataFrame(ids, columns=['id'])
    forecast = pd.concat([df] * 2).reset_index(drop=True)
    predictions = pd.concat([predictions, forecast], axis=1)
    predictions = predictions.set_index('id')
    return predictions

In [259]:
forecast = sales[[c for c in sales.columns if c.find('F_')==0]]

In [260]:
same_as_last_28 = sub_format(forecast)

In [261]:
same_as_last_28.to_csv('last_28.csv')